<h4>{{ title }}</h4>

<div *ngIf="administrator; then admin else notAdmin"></div>

<ng-template #admin>
  <button (click)="change(false)">Change</button>
  <strong style="background:yellow">You are the webapp administrator</strong>
</ng-template>

<ng-template #notAdmin>
  <button (click)="change(true)">Change</button>
  <strong style="background:red; color:white">Not you are the web administrator</strong>
</ng-template>

<hr/>
<h4>input properties in angular</h4>
<son-component
[text1]="external_data"
[text2]="identity">
<!--
<son-component
[text1]="'value of property one'"
[text2]="'value of property two'">
-->
</son-component>
